.movie-card {
  background-color: rgb(53, 50, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.movie-poster img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.add-to-favorites-btn {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  color: white;
  font-weight: bold;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
}

.add-to-favorites-btn:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.add-to-favorites-btn.active {
  content: "Remove from favorites";
}

.movie-info {
  margin-top: 1rem;
}

.movie-info p {
  margin-bottom: 0.5rem;
}
